[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy="*"

[dev-packages]

[scripts]
compile = "mypyc fib.py"
test = "bash ./test.sh"

[requires]
python_version = "3.10"
